<div class="container">
  <div class="row">
    <div class="col-ma-5">
      <%= render "shared/form", book: @book %>
    </div>
    <div class="col-md-7">
      <h1>Users</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan=3></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>画像</td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
