<h4>New Book</h4>
<%= form_with model:book, url: users_path,  local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opnion</p>
  <%= f.text_area :body %>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>